body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #fff;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}


nav {
  background: #111;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
}

nav a:hover {
  color: #03a9f4;
}

main {
  min-height: 70vh;
  padding: 2rem;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
}
